<%- include("./include/header.ejs") %>


     <!--  ************************* Page Title Starts Here ************************** -->
        <div class="page-nav row">
            <div class="container">
                <div class="row">
                    <h2>Contact US</h2>
                    <ul>
                        <li> <a href="/"><i class="fas fa-home"></i> Home</a></li>
                        <li><i class="fas fa-angle-double-right"></i> Contact US</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- ######## Page  Title End ####### -->

        
   <div class="row contact-rooo no-margin">
        <div class="container">
            <div class="row">
                 <div style="padding:20px" class="col-sm-7">
                   <form action="/contact" method="post">
                    <h2 >Contact Form</h2> <br>
                    <div class="row cont-row">
                        <div  class="col-sm-3"><label>Enter Name </label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" placeholder="Enter Name" name="name" class="form-control input-sm"  ></div>
                    </div>
                    <div  class="row cont-row">
                        <div  class="col-sm-3"><label>Email Address </label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" name="email" placeholder="Enter Email Address" class="form-control input-sm"  ></div>
                    </div>
                    <div  class="row cont-row">
                        <div  class="col-sm-3"><label>Mobile Number</label><span>:</span></div>
                        <div class="col-sm-8"><input type="text" name="number" placeholder="Enter Mobile Number" class="form-control input-sm"  ></div>
                    </div>
                    <div  class="row cont-row">
                        <div  class="col-sm-3"><label>Enter Message</label><span>:</span></div>
                        <div class="col-sm-8">
                            <textarea rows="5" name="message" placeholder="Enter Your Message" class="form-control input-sm"></textarea>
                        </div>
                    </div>
                    <div style="margin-top:10px;" class="row">
                        <div style="padding-top:10px;" class="col-sm-3"><label></label></div>
                        <div class="col-sm-8">
                            <button class="btn col-md-12 btn-primary btn-sm">Send Message</button>
                        </div>
                    </div>
                </div>
            </form>

            
                <div class="col-sm-5">

                    <div style="margin:50px" class="serv">

                        <h2 style="margin-top:10px;">Address</h2>

                       Scheme 13b aduin Street, <br>
                        23/H-2, Building<br>
                        Oyo State, Nigeria<br>
                        Phone:+234 9159669599<br>
                        Email:Ur'Clinic@gmail.com<br>
                        Website:www.Ur'Clinic.com<br>







                    </div>


                </div>

            </div>
        </div>

    </div>
    
    
    
  
       
        
<%- include("./include/footer.ejs") %>