<%- include("./include/header.ejs") %>

   <!-- ################# Slider Starts Here#######################--->
    <div class="slider">
        <!-- Set up your HTML -->
        <div class="owl-carousel ">
           
            <div class="item">
                <div class="slider-img"><img src="assets/images/slider/slider-2.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">It's time for better help.</h1>
                                <p class="slider-text hidden-xs">We can help you conquer a wide range of psychological and emotional problems.</p>
                                <a href="#" class="btn btn-primary hidden-xs">Schedule A Visit</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"> <img src="assets/images/slider/slider-3.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions">
                                <h1 class="slider-title">Meet our psychiatrists</h1>
                                <p class="slider-text hidden-xs">Our psychiatrists are highly skilled to meet your unique needs.</p>
                                <a href="#" class="btn btn-primary hidden-xs">Meet Psychiatrists</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--*************** Key Features Starts Here ***************-->

    <div id="features" class="features container-fluid">
        <div class="container">
            <div class="session-title">
                <h2>Key Features of our Hospital</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Voluptatem, inventore</p>
            </div>
            <div class="ker-featur-row row">
                <div data-aos="fade-right" data-aos-duration="1500" class="col-md-4 featurecol feature-left">
                    <div class="single-feature">

                        <div class="detail">
                            <h6>100% Safety</h6>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Voluptatem, inventore</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-bell"></i>
                        </div>


                    </div>
                    <div class="single-feature">

                        <div class="detail">
                            <h6>Friendly Doctors</h6>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                Voluptatem, inventore</p>
                        </div>
                        <div class="icon">
                            <i class="far fa-heart"></i>
                        </div>
                    </div>

                </div>
                <div class="col-md-4 featur-image">
                    <img src="assets/images/boct.jpg" alt="">
                </div>
                <div data-aos="fade-left" data-aos-duration="1500" class="col-md-4 featurecol feature-right">

                    <div class="single-feature">
                        <div class="icon">
                            <i class="far fa-images"></i>
                        </div>
                        <div class="detail">
                            <h6>Clean Environment</h6>
                            <p>Lorem ipsum dolor sit amet, consec tetur adipi sicing elit.
                                Voluptatem, inventore</p>
                        </div>
                    </div>
                    <div class="single-feature">
                        <div class="icon">
                            <i class="fab fa-audible"></i>
                        </div>
                        <div class="detail">
                            <h6>Medical Research</h6>
                            <p>Lorem ipsum dolor sit amet, conse ctetur adipisicing elit.
                                Voluptatem, inventore</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--*************** Our Services Starts Here ***************-->


    <section class="our-service container-fluid">
        <div class="container">
            <div class="session-title row">
                <h2>Our Services</h2>
                <p>Not the answer you're looking for? Printing and typesetting inLorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry’s Lorem</p>
            </div>
            <div class="col-sm-12 blog-cont">
                <div class="row no-margin">
                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-1.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Deperssion</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary ">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Anxity</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary ">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-3.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Relationship Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/s1.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Relationship Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/s2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Paediatric Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 blog-smk">
                        <div class="blog-single">

                            <img src="assets/images/services/service-2.jpg" alt="">

                            <div class="blog-single-det">

                                <h6>Neurology Issue</h6>

                                <a href="blog_single.html">
                                    <button class="btn btn-primary">More Detail</button>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>


    <!--*************** About Us Starts Here ***************-->

    <div class="about-us">
        <div class="row">
            <div class="col-md-6 join-us-content">

                <div class="bkgloq">
                    <div class="row content-title">
                        <h4>About US</h4>

                    </div>
                    <p>We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.</p>
                    <p>We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.</p>
                    <p>We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.We utilizes creative and customized methods that tailor our work to the client environment to maximize results.</p>
                </div>

            </div>
            <div class="col-md-6 no-padding">
                <img src="assets/images/part_of_team.jpg" alt="">
            </div>
        </div>
    </div>

    <!--  *************************Our Team Start Here ************************** -->

    <div class="our-team">
        <div class="container">

           
            <div class="session-title row">
                <h2>Our Team</h2>
                <p>Not the answer you're looking for? Printing and typesetting inLorem Ipsum </p>
            </div>

            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="card-1 team-member">
                        <img src="assets/images/team/t1.jpg" alt="Team Member 1">

                        <p><b>Dr.Siva Kumar</b> <br> (CEO & Chairman)</p>
                        <ul class="row">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6">
                    <div class="card-1 team-member">
                        <img src="assets/images/team/t2.jpg" alt="Team Member 1">

                        <p><b>Dr. Mathue Samuel</b> <br> (Chief Doctor)</p>
                        <ul class="row">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card-1 team-member">
                        <img src="assets/images/team/t3.jpg" alt="Team Member 1">

                        <p><b>Samuani Simi</b> <br> (Chief Doctor)</p>
                        <ul class="row">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="card-1 team-member">
                        <img src="assets/images/team/t4.jpg" alt="Team Member 1">

                        <p><b>Niuise Paule</b> <br> (Chief Doctor)</p>
                        <ul class="row">
                            <li><i class="fab fa-facebook-f"></i></li>
                            <li><i class="fab fa-twitter"></i></li>
                            <li><i class="fab fa-linkedin-in"></i></li>
                            <li><i class="fab fa-google-plus-g"></i></li>
                            <li><i class="fab fa-pinterest-p"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- ######## Our Team End ####### -->
    
    
    <!--*************** Our Blog Starts Here ***************-->
                     
    <div id="blog" class="container-fluid blog">
        <div class="container">
             <div class="session-title">
                <h2>Our Blog</h2>
                 <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin nisi id consequat bibendum. Phasellus at convallis elit. In purus enim, scelerisque id arcu vitae</p>
            </div>
                <div class="blog-row row">
                    <div class="col-lg-4 col-md-6 ">
                       <div class="blog-col">
                            <img src="assets/images/services/s1.jpg" alt="">
                            <span>August 9, 2019</span>
                            <h4>Orci varius consectetur adipiscing natoque penatibus</h4>
                            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent accumsan, leo in venenatis dictum, </p>
                       </div>
                       
                    </div>
                     <div class="col-lg-4 col-md-6">
                       <div class="blog-col">
                            <img src="assets/images/services/s2.jpg" alt="">
                            <span>August 9, 2019</span>
                            <h4>Orci varius consectetur adipiscing natoque penatibus</h4>
                            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent accumsan, leo in venenatis dictum, </p>
                       </div>
                       
                    </div>
                     <div class="col-lg-4 col-md-6 ">
                       <div class="blog-col">
                            <img src="assets/images/services/service-1.jpg" alt="">
                            <span>August 9, 2019</span>
                            <h4>Orci varius consectetur adipiscing natoque penatibus</h4>
                            <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Praesent accumsan, leo in venenatis dictum, </p>
                       </div>
                       
                    </div>
                     
            </div>
        </div>
        
    </div>  
    
       

<%- include("./include/footer.ejs") %>