<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ur'Clinic</title>
    <link rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon">
   <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="assets/images/fav.jpg">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/all.min.css">
    <link rel="stylesheet" href="assets/css/animate.css">
    <link rel="stylesheet" href="assets/plugins/slider/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/plugins/slider/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />
</head>

<body>

    
    <header class="container-fluid">
        <div class="container">
            <div class="row top-row">
                <div class="col-md-8 navse">
                    <div class="row">
                        <div class="col-lg-4 d-none d-lg-block cinfo">
                            <div class="cdetl">
                                <div class="icon">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                                <div class="detail">
                                    <b>Location</b>
                                    <p>Aduin Area, OYO STATE</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-none d-md-block cinfo">
                            <div class="cdetl">
                                <div class="icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="detail">
                                    <b>Email</b>
                                    <p>Ur'Clinic@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 d-none d-md-block cinfo">
                            <div class="cdetl">
                                <div class="icon">
                                    <i class="fas fa-phone-alt"></i>
                                </div>
                                <div class="detail">
                                    <b>Call Us</b>
                                    <p>+234 9159669599</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="menu-jk" class="nav-sectionmk  row">
                <ul>
                    <li><a href="/home">Home</a></li>
                    <li><a href="/about">About US</a></li>
                    <li><a href="/services">Services</a></li>
                    <li><a href="/research">Research</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/contact">Contact Us</a></li>
                    <li class="aply">
                        <button class="btn btn-sm btn-light">Book Appointment</button>
                    </li>
                </ul>
            </div>
        </div>
    </header>